// Flexbox
@mixin flexbox($direction: row, $justify: center, $align: center) {
  display: inline-flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin box-shadow($p1, $p2, $p3, $p4, $color) {
  box-shadow: $p1 $p2 $p3 $p4 $color;
}